{% load static %}
<!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <!-- index.html -->
                    <a class="logo" href="/">
                        <img src="{% static 'ourBlog/images/logo.svg' %}" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <!-- index.html -->
                        <li><a href="/" title="">Home</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Categories</a>
                            <ul class="sub-menu">
                                <!-- category.html -->
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Family</a></li>
                            <li><a href="#">Management</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Work</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0" title="">Blog</a>
                            <ul class="sub-menu">
                                <!-- single-video.html -->
                            <li><a href="#">Video Post</a></li>
                            <!-- single-audio.html -->
                            <li><a href="#">Audio Post</a></li>
                            <!-- single-gallery.html -->
                            <li><a href="#">Gallery Post</a></li>
                            <!-- single-standard.html -->
                            <li><a href="#">Standard Post</a></li>
                            </ul>
                        </li>
                        <!-- style-guide.html -->
                        <li><a href="#" title="">Styles</a></li>
                        <!-- about.html -->
                        <li class="current"><a href="/about" title="">About</a></li>
                        <!-- contact.html -->
                        <li><a href="/contact" title="">Contact</a></li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->